<div class="cv-interests">
  {% for content in entry.contents %}
    <div class="cv-interest-group">
      <h5 class="cv-interest-title">{{ content.title }}</h5>
      {% if content.items %}
        <div class="cv-interest-pills">
          {% for subitem in content.items %}
            <span class="cv-interest-pill">{{ subitem }}</span>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
