<!-- _bibliography/_publications.html -->
<li class="pub-entry">
    <div class="pub-title">{{ entry.title }}</div>
    <div class="pub-authors">{{ entry.author }}</div>
    <div class="pub-journal">
      <em>{{ entry.journal }}</em>
      {% if entry.year %} ({{ entry.year }}){% endif %}
    </div>
    <div class="pub-links">
      {% if entry.html %}<a href="{{ entry.html }}" target="_blank">HTML</a>{% endif %}
      {% if entry.pdf %}<a href="{{ entry.pdf }}" target="_blank">PDF</a>{% endif %}
      {% if entry.supp %}<a href="{{ entry.supp }}" target="_blank">Supp</a>{% endif %}
      {% if entry.code %}<a href="{{ entry.code }}" target="_blank">Code</a>{% endif %}
    </div>
    <details>
      <summary>Abstract</summary>
      <div class="pub-abstract">{{ entry.abstract }}</div>
    </details>
    <details>
      <summary>BibTeX</summary>
      <pre>{{ entry.bibtex }}</pre>
    </details>
  </li>